container_commands:
  01express:
    command: "echo AWS Container Commands started, starting Composer install."
  02installComposer:
    command: "export COMPOSER_HOME=/root && php /opt/elasticbeanstalk/support/composer.phar install"
  03express:
    command: "echo Composer install completed, starting Laravel migration"
  04migrations:
    command: "php artisan migrate --env=production"
  05express:
    command: "echo Completed Laravel migration, starting Laravel database seeding"
  06seeds:
    command: "php artisan db:seed --env=production"
  07express:
    command: "echo Completed database seeting, Container Commands complete."